.no-caret .dropdown-toggle::after,
.no-caret > .nav-link::after {
  display: none !important;
}

.fixed-height-card {
  height: 450px; /* Esempio: Scegli un valore che si adatti al prodotto più grande */
  overflow: hidden; /* Nasconde l'eventuale contenuto in eccesso se non si adatta */
}

.btn-close-notif {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

/* 2. Rendi visibile l'elemento 'X' al passaggio del mouse sull'intera notifica */
.dropdown-item-custom:hover .btn-close-notif {
  visibility: visible !important;
  opacity: 1 !important;
}

/* 3. Stile aggiuntivo per rendere i link (non annullati) cliccabili */
.dropdown-item-custom.dropdown-item {
  padding-right: 40px; /* Lascia spazio per la 'X' */
}

body {
  /* Grigio chiaro standard di Bootstrap (o usa #e9ecef per uno più scuro) */
  background-image: url(./assets/streetsell-background.png);

  /* Opzionale: assicura che il colore copra sempre tutta l'altezza */
  min-height: 100vh;
}

.color {
  color: #fa8229;
}

/* Responsive */

/* Navbar */
@media (max-width: 576px) {
  body {
    /* Altezza approssimativa della barra fissa (circa 50-60px) */
    padding-bottom: 65px;
  }
}

@media (max-width: 576px) {
  .logo-responsive {
    /* L'altezza di default era 40px, la riduciamo a 30px */
    height: 30px !important;
    width: auto; /* Mantieni le proporzioni */
  }
}

/* Footer */
.fs-7 {
  font-size: 0.85rem !important;
}
